:root {
    --lightest-slate: #00184E;
    --lightest-navy: #E9EBEE;
    --grey-shadow: rgba(20, 20, 20, 0.2);
    --light-grey-alt: #f4f5f7;
    --slate: #595b5e;
    --light-slate: #6c6f72; 
    --blue: #035DB4;

    --fz-heading: 60px;
    --fz-xs: 13px;
    --fz-xl: 15px;

    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.heading {
    margin: 10px 15px 20px;
    font-size: clamp(30px, 7vw, 70px);
}

.big-heading {
    margin: 30px 20px 5px;
    font-size: clamp(50px, 10vw, 100px);
}

.small-title {
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    color: var(--slate);
}

.text-info {
    font-family: var(--font-mono) !important;
    font-size: var(--fz-xs) !important;
    color: var(--light-slate) !important;
}

.icon {
    color: var(--light-slate);
}

.clickable-icon {
    color: var(--blue);
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    margin-top:"auto";
    margin-bottom:"auto";
}

body { 
    background-color: var(--lightest-navy) !important;
}

.card {   
    position: relative;
    background: var(--light-grey-alt);
    margin: 0;
    padding: 0;
}

.card-body {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 0;
    padding: 0;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 15px 0 var(--grey-shadow);
}

.btn-group {
    color: var(--blue);
}

.floating {
    background: var(--light-grey-alt);
    padding: 0.5rem;
    border-radius: 5px;
}

.floating:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 15px 0 var(--grey-shadow);
    border-radius: 5px;
}